$minPhone: 320px;
$maxPhone: 480px;
$minTablet: 768px;
$maxTablet: 1024px - 1;
$min4k: 1980px;

@mixin responsive($width) {
  @if $width == "phone" {
    @media screen and (min-width: $minPhone) and (max-width: $minTablet) {
      @content;
    }
  }
}

@mixin tablet($width) {
  @if $width == "tablet" {
    @media screen and (min-width: $minTablet) and (max-width: $maxTablet) {
      font-size: 5rem;
    }
  }
}

@mixin bigScreen($width) {
  @if $width == "4k" {
    @media screen and (min-width: $min4k) {
      font-size: 7rem;
    }
  }
}
